.Notes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Note {
	position: relative;
	width: 20rem;
	min-height: 20rem;
	padding: 2rem;
	border: 1px solid #aaa;
	border-radius: 0.25rem;
	border-bottom-right-radius: 0.5rem;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
	font-family: 'Homemade Apple', cursive;

	> .title {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 1.5rem;
		white-space: pre-line;
	}

	> .body {
		display: flex;
		text-align: left;
		font-size: 1rem;
		white-space: pre-line;
	}

	> .buttons {
		display: flex;
		position: absolute;
		bottom: 0.5rem;
		right: 0.5rem;
		gap: 0.5rem;
	}
}
